<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="page-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Welcome</h1>
                    <h3 class="text-muted">We have some offers for you</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>